body {
    font-family: Arial, sans-serif;
}

a {
    text-decoration:none;
}

.dashboard {
    margin: 50px;
    align-items: center;
}

.welcome-box {
    background: white;
    width: 20%;
    padding: 20px;
    display: block;
    margin-top: 120px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(19, 18, 18, 0.1);
    text-align: center;
}


header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007bff;
    padding: 15px 30px;
    border-radius: 20px;
    margin: 20px;
}
.logo {
    font-size: 24px;
    font-weight: bold;
    background: linear-gradient(45deg, black, white, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.icons {
    display: flex;
    gap: 15px;
}
.icons span {
    font-size: 20px;
    cursor: pointer;
}

.style-7 img {
    width: 120px; 
    height: auto;
}

.login-section {
    margin-bottom: 20px;
}


i {
    color: white !important;
}

.commun {
    display: flex;
    padding: 20px;
    margin: 30px;
    width: 10%;
    height: 10%;
    gap: 40px;
    flex-direction: column;
}
