body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    overflow-y: auto;
    display: flex;
    justify-content: center;
}

a {
    text-decoration:none;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007bff;
    padding: 15px 30px;
    border-radius: 20px;
    margin: 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    background: linear-gradient(45deg, black, white, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.icons {
    display: flex;
    gap: 15px;
}
.icons span {
    font-size: 20px;
    cursor: pointer;
}

.login-section {
    margin-bottom: 50px;
}


i {
    color: white ;
}

img {
    width: 35px;
    padding: 8px 0;
    border-radius: 12px;
    border: 1px solid green;
    margin-top: 5px;
}


table {
    border-collapse: collapse;
    width: 100%;
    letter-spacing: 1px;
    font-size: 13px;
}

.total th {
    border: 0;
    float: left;
    font-weight: 500;
    color: #37a6ff;
    padding: 10px;
}

th {
    padding: 10px 0;
    font-weight: 400;
}

td {
    border-top: 0.5px solid #999;
    text-align: center;
    color: #007bff;
}

tr {
    border-bottom: 0.5px solid #999;
}

section {
    margin-top: 120px;
    width: 70%;
    background-color: #fff;
    padding: 10px;
    border-radius: 6px; 
}

button {
    text-decoration: none;
}